/* Reset de estilos para todos los elementos */
* {
    box-sizing: border-box;
}

/* Estilos generales para el cuerpo del documento */
body {
    background-color: #2d3335;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

/* Estilos para el contenedor del temporizador */
#temporizador-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    font-size: 18px;
    z-index: 1000;
}

/* Estilos específicos para el texto del temporizador */
#temporizador-container span{
    color: black;
}

/* Estilos para los títulos */
.titulo {
    font-size: 25px;
}

/* Estilos para el contenedor principal */
.contenedor {
    margin-bottom: 30px;
    perspective: 1000px;
}

/* Estilos para el teclado */
.teclado {
    display: flex;
    justify-content: center;    
    font-size: 35px;
}

/* Estilos para las letras del teclado */
.letra {
    background-color: rgb(33, 31, 31);
    height: 40px;
    width: 43px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/* Estilos para letras correctas */
.letra.correcta {
    background-color: rgb(25, 190, 25);
    pointer-events:none;
}

/* Estilos para letras incorrectas */
.letra.incorrecta {
    background-color: rgb(240, 36, 36);
    pointer-events:none;
}

/* Estilos para las letras del teclado cuando no son incorrectas ni correctas al pasar el cursor */
.letra:not(.incorrecta, .correcta):hover {
    cursor: pointer;
    transform: scale(1.2);
}

/* Estilos para los párrafos de texto */
p.text {
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
}

/* Estilos para los intentos restantes */
.intentos p.text span {
    color: rgb(0, 0, 0);
}

/* Estilos para la palabra a adivinar */
.palabra {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

/* Estilos para el botón */
.boton {
    background-color: rgb(33, 31, 31);
    color: white;
    margin: 5px;
    margin-top: 30px;
    padding: 10px;
    font-size: 18pt;
    border-radius: 5px;
    border: none;
}

/* Estilos para deshabilitar elementos */
.deshabilitado {
    pointer-events:none;
}

/* Estilos para el contador regresivo */
#compteEnrrere {
    display: flex;
    justify-content: center;
}

/* Estilos para el contenedor de botones en la esquina */
.corner-button-container {
    position: fixed;
    top: 20px;
    right: 20px;
  }
  
  /* Estilos para el botón de pista */
  .hint-button {
    background-color: #171717;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilos para el botón de pista al pasar el cursor */
  .hint-button:hover {
    background-color: #000000;
  }

/* Estilos para el popup */
.popup {
    display: none;
    position: fixed;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
  
/* Estilos para el contenido del popup */
.popup-content {
    background: #343636;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    position: relative;
}
  
/* Estilos para el título del popup */
.popup-titulo {
    font-size: 24px;
    margin-bottom: 10px;
}
  
/* Estilos para el mensaje del popup */
.popup-mensaje {
    font-size: 18px;
}

/* Estilos para el botón de cerrar */
.boton-cerrar {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    color: white;
}
  
/* Estilos para el botón de cerrar al pasar el cursor */
.boton-cerrar:hover {
    color: white;
}